@model MVCTraining.Web.Controllers.ExamViewModel

@*<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>*@
@*<script src="~/Scripts/jquery-2.1.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/index.js"></script>*@
@{
    Layout = "~/Views/_Layout.cshtml";
}




@using (Html.BeginForm("Search", "Home"))
{
    @Html.TextBoxFor(model => model.DateInput, new { type = "date", required = "required" })

    <input type="submit" value="Search" />
    
}


@Html.TextAreaFor(model => model.Result)


@*@using (Ajax.BeginForm("SearchAjax", "Home",
                            new AjaxOptions { UpdateTargetId = "divResult" }))
{
    
    @Html.TextBoxFor(model => model.DateInput, new { type = "date", required = "required" })


    <input type="submit" value="SearchAjax" />
}

<div id="divResult">here</div>*@
